html, body {
    margin: 0;
    padding: 0;
    color: #fff;
}


/***************
    header 
***************/
header {
    height: 50px;
    width: 100%;
    position: fixed;
}

header ul {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

header ul li {
    padding: 0 20px;
}


/***************
    pages 
***************/
section {
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
}

footer {
    padding-top: 50px;
    height: 200px;
}

.bg-base {
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

.one {
    background-image: url('../images/bushes.jpg');
}

.two {
    background-image: url('../images/cactus.jpg');
}

.three {
    background-image: url('../images/desert.jpg');
}

.four {
    background-image: url('../images/mugs.jpg');
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: orange;
}

.bg-black {
    background-color: rgba(0,0,0,.75);
}


/***************
    text 
***************/
.text-center {
    text-align: center;
}

h2, h3 {
    margin: 0;
}

a, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}


/***************
    foreground objects 
***************/
.bug {
    background-image: url('../images/bug.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    width: 100px;
    height: auto;
    right: 100px;
    bottom: 0;
}